.body-font {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #303031;
  font-size: 15px;
  line-height: 1.5;
}
.full-width {
  margin-left: -9999rem;
  margin-right: -9999rem;
  padding-left: 9999rem;
  padding-right: 9999rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
body,
.account-masthead,
.masthead,
[role="main"],
.main,
.site-footer {
  background-image: none;
  background-color: inherit;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  box-shadow: none;
}
.masthead .nav-collapse {
  padding: 0;
}
html,
.site-footer {
  background-color: #333333;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #303031;
  font-size: 15px;
  line-height: 1.5;
  background-color: #fff;
  overflow-x: hidden;
}
[role="main"],
.main {
  padding: 0;
  min-height: 0;
}
input,
button,
select,
textarea {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #303031;
  font-size: 15px;
  line-height: 1.5;
}
li {
  line-height: inherit;
}
.btn {
  background-image: none;
  border-radius: 0;
  text-decoration: none;
  box-shadow: none;
  text-shadow: none;
  background-color: #91cf47;
  border-color: #91cf47;
  color: #ffffff;
  transition: background-color 0.2s ease-in 0s;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #81d220;
  border-color: #81d220;
}
.btn.btn-primary {
  background-color: #91cf47;
  border-color: #91cf47;
  color: #ffffff;
  transition: background-color 0.2s ease-in 0s;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  color: #ffffff;
  background-color: #81d220;
  border-color: #81d220;
}
.btn.btn-danger {
  background-color: #cf5547;
  border-color: #cf5547;
  color: #ffffff;
  transition: background-color 0.2s ease-in 0s;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus {
  color: #ffffff;
  background-color: #d23220;
  border-color: #d23220;
}
.btn.btn-warning {
  background-color: #c2c2c2;
  border-color: #c2c2c2;
  color: #ffffff;
  transition: background-color 0.2s ease-in 0s;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus {
  color: #ffffff;
  background-color: #bca4a4;
  border-color: #bca4a4;
}
.btn.btn-success {
  background-color: #91cf47;
  border-color: #91cf47;
  color: #ffffff;
  transition: background-color 0.2s ease-in 0s;
}
.btn.btn-success:hover,
.btn.btn-success:focus {
  color: #ffffff;
  background-color: #81d220;
  border-color: #81d220;
}
.btn.btn-info {
  background-color: #303031;
  border-color: #303031;
  color: #ffffff;
  transition: background-color 0.2s ease-in 0s;
}
.btn.btn-info:hover,
.btn.btn-info:focus {
  color: #ffffff;
  background-color: #1a1a24;
  border-color: #1a1a24;
}
.pill {
  background-color: #91cf47;
}
.search-form .filter-list .pill {
  background-color: #91cf47;
}
.search-form .filter-list .pill a {
  text-decoration: none;
}
.search-form .filter-list .pill a:hover {
  color: inherit;
}
.btn-group.open .btn-primary.dropdown-toggle {
  background-color: #77b42f;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus .dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
  background-color: #91cf47;
  background-image: none;
}
.page-header,
[role="main"] .wrapper.no-nav > .module > .module-content.page-header {
  margin-left: -9999rem;
  margin-right: -9999rem;
  padding-left: 9999rem;
  padding-right: 9999rem;
}
[role="main"] .wrapper {
  border: none;
  border-radius: 0;
  box-shadow: none;
  position: relative;
  margin: 0;
}
[role="main"] .wrapper .primary .module-content {
  padding-left: 15px;
  padding-right: 0;
  padding-top: 30px;
  margin: 0;
}
[role="main"] .wrapper .primary.span9 .page-header {
  margin-left: -20px;
  padding-left: 25px;
  margin-right: -9999rem;
  padding-right: 9999rem;
}
[role="main"] .wrapper aside.secondary .nav-item.active > a,
[role="main"] .wrapper aside.secondary .nav-aside li.active a {
  background-color: #91cf47;
}
[role="main"] .wrapper aside.secondary .nav-item.active > a:before,
[role="main"] .wrapper aside.secondary .nav-aside li.active a:before {
  background-image: none;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 0 17px 6px;
  border-color: transparent transparent transparent #91cf47;
  -webkit-transform: rotate(360deg);
}
[role="main"] .wrapper aside.secondary .nav-facet .nav-item > a:hover:after {
  background-image: none;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\F055";
}
[role="main"] .wrapper aside.secondary .nav-facet .nav-item.active > a:after,
[role="main"] .wrapper aside.secondary .nav-facet .nav-aside li.active a:after {
  background-image: none;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  content: "\F057";
}
[role="main"] .wrapper aside.secondary .module .read-more {
  color: #303031;
  font-weight: normal;
  font-size: 14px;
}
[role="main"] .wrapper .media-grid {
  margin-left: -14px;
  background-color: transparent;
  background-image: none;
  border: none;
}
[role="main"] .wrapper .media-grid .media-item {
  width: 223px;
}
@media (min-width: 768px) {
  [role="main"] .wrapper .media-grid .media-item {
    width: 223px;
  }
}
@media (min-width: 980px) {
  [role="main"] .wrapper .media-grid .media-item {
    width: 188px;
  }
}
[role="main"] .wrapper.no-nav > .module > .module-content {
  padding-left: 0;
  padding-right: 0;
}
[role="main"] .wrapper.no-nav > .module > .module-content:first-child {
  padding-top: 30px;
}
.stages {
  margin-right: 0;
}
.media-heading {
  word-break: normal;
}
.box {
  border-color: #f9f9f9;
  border-radius: 2px;
  box-shadow: none;
}
a {
  color: #77b42f;
}
a:hover,
a:focus {
  color: #5d8c24;
}
.nav-tabs a,
a.no-text,
.nav-item a,
a.label,
a.close {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-weight: 600;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: -1px;
}
h1 {
  font-size: 34px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
.page-header {
  background-color: #f9f9f9;
}
.btn {
  background-image: none;
  border-radius: 2px;
}
strong,
b {
  font-weight: 600;
}
.nav-pills > li > a {
  border-radius: 2px;
}
.account-masthead {
  background-color: #91cf47;
  min-height: 0px;
}
.account-masthead .account ul li {
  border: none;
}
.account-masthead .account ul li a {
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}
.account-masthead .account ul li a:hover {
  background-color: rgba(247, 247, 247, 0.1);
  color: #fff;
}
.account-masthead .account.not-authed {
  display: none;
}
.masthead {
  background-color: #91cf47;
}
.masthead .logo {
  height: 75px;
  display: table-cell;
  vertical-align: middle;
}
.masthead .logo img {
  height: 26px;
}
.masthead .site-search.section {
  display: none;
}
.masthead .navigation {
  margin-right: 0;
  padding-bottom: 15px;
}
@media (min-width: 980px) {
  .masthead .navigation {
    padding-top: 19px;
  }
}
.masthead .navigation .nav {
  margin: 0;
}
.masthead .navigation .nav li a:hover,
.masthead .navigation .nav li.active a {
  background-color: #fff;
  color: #91cf47;
}
a.tag {
  line-height: 31px;
  height: 32px;
  background-color: #fff;
  border: none;
  border-radius: 3px 0 0 3px;
  box-shadow: none;
  color: #303031;
  padding: 0 12px 0 15px;
  position: relative;
  font-size: 13px;
  font-weight: 600;
  margin-right: 20px;
  text-decoration: none;
}
a.tag:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 0 16px 16px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  right: -16px;
}
a.tag:after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c2c2c2;
  position: absolute;
  right: -4px;
  margin-top: -2px;
  top: 50%;
}
a.tag:hover {
  border: none;
  box-shadow: none;
  background-color: #303031;
}
a.tag:hover:before {
  border-left-color: #303031;
}
.tag-list {
  background-color: #c2c2c2;
  border: none;
  box-shadow: none;
  padding: 9px 9px 5px;
}
.search-form .search-input button i {
  color: #91cf47;
}
.search-form .search-input button:hover i {
  color: #77b42f;
}
.homepage .hero {
  background-color: #91cf47;
  color: #fff;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
.homepage .hero h1 {
  font-weight: bold;
}
.homepage .hero .module-content {
  padding: 0;
  font-size: 20px;
}
.homepage .hero .module-content a {
  color: inherit;
  text-decoration: none;
  border-bottom: dotted 1px #fff;
}
.homepage .hero .module-search.box {
  background-color: transparent;
  padding: 0;
  border: none;
}
.homepage .hero .module-search.box .heading {
  font-size: 20px;
  margin-bottom: 0;
}
.homepage .hero .module-search.box form {
  padding: 0;
  background-color: transparent;
}
.homepage .hero .module-search.box form .search-giant input {
  border-color: #fff;
  box-shadow: none;
}
.homepage .hero .module-search.box form .search-giant input:focus {
  border-color: #77b42f;
}
.homepage .hero .module-search.box .tags {
  background-color: transparent;
  height: 35px;
  overflow: hidden;
  margin-bottom: 10px;
}
.homepage .hero .module-search.box .tags h3 {
  line-height: 32px;
  margin: 0 20px 0 0;
  padding: 0;
}
.homepage .hero .module-search.box .tags h3:after {
  content: ':';
}
.homepage .hero .module-search.box .tags a.tag {
  margin: 0 30px 20px 0;
  color: #91cf47;
}
.homepage .hero .module-search.box .tags a.tag:after {
  background-color: #91cf47;
}
.homepage .hero .module-search.box .tags a.tag:hover {
  color: #fff;
}
.homepage .hero .stats.box {
  background-color: transparent;
  border: none;
}
.homepage .hero .stats.box .inner {
  padding: 0;
}
.homepage .hero .stats.box .inner li {
  text-align: center;
}
.homepage .hero .stats.box .inner li a {
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px;
}
.twitter {
  background-color: #91cf47;
  color: #fff;
  margin: 0 -20px;
  padding: 15px 20px;
}
.twitter h1,
.twitter h2,
.twitter h3,
.twitter h4,
.twitter h55,
.twitter h6 {
  font-size: 30px;
  margin: 10px 0 0 0;
  color: inherit;
}
.twitter a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.twitter .carousel {
  margin-bottom: 0;
}
.twitter ul.carousel-inner {
  padding: 20px 0;
  margin: 0;
}
.twitter ul.carousel-inner:empty:after {
  content: "We haven't tweeted yet. Watch this space!";
  opacity: 0.8;
  font-style: italic;
}
.twitter .item {
  line-height: 22px;
}
@media (min-width: 768px) {
  .twitter .user {
    float: left;
    height: 36px;
    width: 230px;
  }
}
.twitter .user span {
  display: block;
  line-height: 1.2;
}
.twitter .user span[data-scribe="element\3Ascreen_name"] {
  font-size: 14px;
  font-weight: normal;
}
.twitter .user img {
  width: 36px;
  height: 36px;
  float: left;
  margin-right: 15px;
  border: solid 6px #fff;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -6px;
}
.twitter .tweet {
  display: block;
  position: relative;
  margin: 10px 10px 0 63px;
}
@media (min-width: 768px) {
  .twitter .tweet {
    margin: 0 0 0 240px;
  }
}
@media (min-width: 768px) {
  .twitter .tweet:before,
  .twitter .tweet:after {
    font-size: 26px;
    top: 4px;
    position: relative;
  }
  .twitter .tweet:before {
    content: open-quote;
    position: absolute;
    left: -15px;
  }
  .twitter .tweet:after {
    content: close-quote;
    margin-left: 3px;
  }
}
.twitter .timePosted {
  display: none;
}
.twitter .interact {
  margin: 10px 0 0 63px;
}
@media (min-width: 768px) {
  .twitter .interact {
    margin-left: 240px;
  }
}
.twitter .interact a {
  display: inline-block;
  width: 20px;
  height: 20px;
  overflow: hidden;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  opacity: 0.7;
  margin-right: 5px;
}
.twitter .interact a:hover {
  opacity: 1;
}
.twitter .interact a:before {
  display: block;
  text-align: center;
}
.twitter .interact a.twitter_reply_icon:before {
  content: "\F064";
}
.twitter .interact a.twitter_retweet_icon:before {
  content: "\F079";
}
.twitter .interact a.twitter_fav_icon:before {
  content: "\F005";
}
.twitter .interact-right .tweet {
  margin-right: 30px;
}
.twitter .interact-right .interact {
  position: absolute;
  top: -8px;
  right: 0;
  margin: 0;
}
.twitter .interact-right .interact a {
  display: block;
  margin: 0;
}
.site-footer {
  margin: 0 -20px;
  padding: 30px 20px;
  color: #ffffff;
  font-size: 12px;
}
.site-footer a {
  color: inherit;
}
.site-footer svg {
  fill: currentColor;
}
.site-footer hr {
  border-color: #ffffff;
  opacity: 0.5;
  clear: both;
}
.site-footer .footer-logo {
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: -4px;
}
@media (min-width: 980px) {
  .site-footer .footer-logo {
    float: left;
    margin-bottom: 0;
  }
}
.site-footer .footer-logo img {
  height: 2em;
}
.site-footer ul {
  margin-bottom: 1em;
}
@media (min-width: 980px) {
  .site-footer ul {
    float: left;
    margin-left: 1em;
    margin-bottom: 0;
  }
}
.site-footer ul li {
  padding-right: 1em;
  display: inline;
}
@media (min-width: 980px) {
  .site-footer ul li {
    display: inline;
    text-align: left;
  }
}
.site-footer .footer-primary-links {
  display: none;
  font-size: 14px;
}
.site-footer .footer-secondary-links {
  font-size: 14px;
}
@media (min-width: 980px) {
  .site-footer .footer-secondary-links {
    float: right;
  }
}
.site-footer .footer-secondary-links li {
  font-size: .9em;
  font-weight: 400;
}
.site-footer .footer-secondary-links ul.footer-social {
  margin-top: 1em;
}
@media (min-width: 980px) {
  .site-footer .footer-secondary-links ul.footer-social {
    float: right;
    margin-top: 0;
  }
}
.site-footer .footer-secondary-links ul.footer-social li {
  float: left;
  font-size: 1em;
  padding-right: .7em;
}
.site-footer .footer-secondary-links ul.footer-social li:last-child {
  padding-right: 0;
}
.site-footer .footer-secondary-links ul.footer-social img {
  opacity: .7;
  height: 1.6em;
  padding: 1px;
}
.site-footer .footer-secondary-links ul.footer-social img:hover {
  opacity: 1;
}
.toolbar {
  background-color: #9dd45b;
  margin-left: -9999rem;
  margin-right: -9999rem;
  padding-left: 9999rem;
  padding-right: 9999rem;
  margin-bottom: 0;
}
.toolbar .breadcrumb {
  font-size: 14px;
  opacity: 0.8;
  color: #fff;
  padding-top: 8px;
  padding-bottom: 8px;
}
.toolbar .breadcrumb li {
  text-shadow: none;
}
.toolbar .breadcrumb li.home .icon-home {
  font-size: 16px;
}
.toolbar .breadcrumb li a {
  text-decoration: none;
  color: inherit;
}
.toolbar .breadcrumb li.active {
  color: inherit;
  font-weight: normal;
}
.toolbar .breadcrumb li.active a {
  font-weight: inherit;
}
[role="main"] .wrapper {
  background-image: none;
}
[role="main"] .wrapper:not(.no-nav) aside.secondary .module-heading {
  background-color: #ececec;
  border: none;
}
@media (min-width: 768px) {
  [role="main"] .wrapper:not(.no-nav):before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 9600px;
    right: 100%;
    background-color: #f9f9f9;
    display: block;
    margin-right: -166px;
  }
  [role="main"] .wrapper:not(.no-nav) aside.secondary {
    background-color: #f9f9f9;
    z-index: 1;
    position: relative;
    padding-top: 30px;
  }
  [role="main"] .wrapper:not(.no-nav) aside.secondary .module-narrow .module-heading,
  [role="main"] .wrapper:not(.no-nav) aside.secondary .module-narrow .module-content,
  [role="main"] .wrapper:not(.no-nav) aside.secondary .module-narrow .module-footer {
    padding-left: 0;
  }
  [role="main"] .wrapper:not(.no-nav) aside.secondary .module-heading {
    position: relative;
    border-radius: 0;
    font-size: 15px;
  }
  [role="main"] .wrapper:not(.no-nav) aside.secondary .module-heading:before {
    content: '';
    display: block;
    width: 15px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15px;
    background-color: #ececec;
  }
  [role="main"] .wrapper:not(.no-nav) aside.secondary .context-info .image > a {
    padding: 5px;
    background-color: #ececec;
  }
  [role="main"] .wrapper:not(.no-nav) aside.secondary .context-info .image > a img {
    background-color: #fff;
    border-radius: 0;
  }
  [role="main"] .wrapper:not(.no-nav) aside.secondary .nav {
    margin-left: -15px;
  }
}
@media (min-width: 768px) and (min-width: 980px) {
  [role="main"] .wrapper:not(.no-nav):before {
    margin-right: -220px;
  }
}
[role="main"] .wrapper .module-resource {
  position: relative;
}
[role="main"] .wrapper .primary .dataset-heading {
  font-size: 20px;
}
.org-list {
  margin: 0;
}
.org-list li {
  display: block;
}
.org-list li a {
  display: block;
  background-color: #f9f9f9;
  margin-bottom: 8px;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
  color: #303031;
}
.org-list li a img {
  margin: -4px 0 0 -2px;
  width: 24px;
}
.org-list li a:hover {
  background-color: #ececec;
}
.org-list li a .count {
  display: none;
}
@media (min-width: 768px) {
  .org-list li a .count {
    display: block;
    float: right;
    font-size: 13px;
    line-height: 25px;
    margin-right: 7px;
  }
}
.org-list li a span.count {
  opacity: 0.2;
}
.org-list li a strong.count {
  opacity: 0.5;
  font-weight: normal;
}
.media-grid .media-view {
  border: none;
}
.media-grid .media-item {
  background-color: #f9f9f9;
}
.media-grid .media-item .media-image {
  border-radius: 0;
}
.media-grid .media-item strong.count {
  font-weight: normal;
}
.media-grid .media-item.ab-dark {
  color: #fff;
}
.media-grid .media-item.ab-dark h1,
.media-grid .media-item.ab-dark h2,
.media-grid .media-item.ab-dark h3,
.media-grid .media-item.ab-dark h4,
.media-grid .media-item.ab-dark h5,
.media-grid .media-item.ab-dark h6 {
  color: inherit;
}
.media-grid .media-item.ab-dark span.count {
  color: rgba(255, 255, 255, 0.6);
}
.media-grid .media-item.ab-dark strong.count {
  color: rgba(255, 255, 255, 0.8);
}
.alert {
  border: none;
  background-color: #c2c2c2;
  color: #fff;
  text-shadow: none;
}
.alert a {
  color: inherit;
  text-shadow: none;
}
.alert .close {
  right: 0;
  top: auto;
  opacity: 1;
}
.alert.alert-error {
  background-color: #cf5547;
}
.alert.alert-success {
  background-color: #91cf47;
}
.alert.alert-info {
  background-color: #91cf47;
}
.flash-messages .alert {
  margin-left: -9999rem;
  margin-right: -9999rem;
  padding-left: 9999rem;
  padding-right: 9999rem;
  margin-bottom: 1px;
}
/*# sourceMappingURL=theme.css.map */